body {
  margin: 0;
  padding: 0;
}

p{
    text-align: center;
    margin: 0;
}


/* NAIGATIONS BAR START */
.Nav {
  background-color: #000000;
  height: 121px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  padding-left: 50px;
}

.options {
  padding-right: 40px;
}

li {
  list-style: none;
  display: inline-block;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 25px;
}

li:last-child {
  border: 3px solid white;
}
 /* END */

 /* CONTAINER1 */

.container1 {
  background-color: #000000;
  height: 921px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Gif {
  height: 721px;
}

/* END */

/* CONTAINER2 */

.container2 {
  height: 680px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  font-family: 'Cinzel', sans-serif;
  font-weight: 400;
  font-size: 100px;
  margin-top: 130px;
}

.aboutText {
  width: 731px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 80px;
  margin-bottom: 250px;
}

/* END */

/* CONTAINER3 */

.container3 {
  height: 747px;
  text-align: center;
}

.patti {
  width: 100%;
  height: 100%;
}

button{
  position: relative;
  top: 600px;
  width: 184px;
  height: 64px;
  border-style: none;
  font-size: 18px;
  font-family: 'Larken',sans-serif;
  cursor: pointer;
}

/* END */

/* CONTAINER4 */

.container4 {
  height: 747px;
  display: flex;
  justify-content: space-between;
}

.OWNER{
  height: 100%;
}

.aboutowner {
  font-family: 'Cinzel', sans-serif;
  font-weight: 400;
  font-size: 100px;
}

.discription {
  width: 350px;
}

.lastDis {
  padding: 100px 150px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/* END */

.foot{
  height: 100px;
  background-color: Black;
}
